{{ define "Header" }}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Музеи</title>
        <link rel="stylesheet" href="form.css">
    </head>
    <body>
    <a href="/">HOME</a>
{{ end }}
