input.Login {
    width: 100%;
    padding: 5px 5px;
    margin: 0;
    box-sizing: border-box;
}

form.Login {
    position: relative;

    width: 740px;
    height: 498px;
    margin: 0 auto;

    background: #ffffff;
}

a.Login {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 24%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
}

label.Login {
    display: block;
}

input.LoginButton {
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    display: block;
}